

<div class="full-container" [class.widget]="widget">
  <ng-container *ngIf="statsObservable$ | async"></ng-container>
  <div class="card-header mb-0 mb-md-4" [class.d-none]="widget">
    <div class="d-flex d-md-block align-items-baseline">
      <span i18n="mining.block-fees">Block Fees</span>
      <button class="btn p-0 ps-2" style="margin: 0 0 4px 0px" (click)="onSaveChart()">
        <fa-icon [icon]="['fas', 'download']" [fixedWidth]="true"></fa-icon>
      </button>
    </div>


  </div>

  <div class="chart" *browserOnly echarts [initOpts]="chartInitOptions" [options]="chartOptions"
    (chartInit)="onChartInit($event)" [style]="{opacity: isLoading ? 0.5 : 1}">
  </div>
  <div class="text-center loadingGraphs" *ngIf="!stateService.isBrowser || isLoading">
    <div class="spinner-border text-light"></div>
  </div>

</div>
