

<div class="full-container">
  <div class="card-header mb-0 mb-md-4">
    <div class="d-flex d-md-block align-items-baseline">
      <span i18n="mining.block-fees">Block Fees</span>
      <button class="btn p-0 ps-2" style="margin: 0 0 4px 0px" (click)="onSaveChart()">
        <fa-icon [icon]="['fas', 'download']" [fixedWidth]="true"></fa-icon>
      </button>
    </div>  

    <p *ngIf="statsObservable$ | async" class="text-secondary">Latest 10 observed blocks with complete fee data. Individual block fees in DASH; no historical fiat series.</p>
  </div>

  <div class="chart" *browserOnly echarts [initOpts]="chartInitOptions" [options]="chartOptions"
    (chartInit)="onChartInit($event)" [style]="{opacity: isLoading ? 0.5 : 1}">
  </div>
  <div class="text-center loadingGraphs" *ngIf="!stateService.isBrowser || isLoading">
    <div class="spinner-border text-light"></div>
  </div>

</div>
