<div *ngIf="showTitle" class="main-title">Dash Network</div>
<div class="card-wrapper"><div class="card"><div class="widget-toggler">
<a href="" (click)="setMode('difficulty')" class="toggler-option" [ngClass]="{'inactive':mode==='difficulty'}"><small>difficulty</small></a>
<span style="color:var(--transparent-fg);font-size:8px"> | </span>
<a href="" (click)="setMode('halving')" class="toggler-option" [ngClass]="{'inactive':mode==='halving'}"><small>rewards</small></a></div>
<div class="card-body more-padding"><div class="difficulty-adjustment-container" *ngIf="dashBlocks$ | async as blocks">
<div class="difficulty-stats" *ngIf="blocks.length && mode==='difficulty'">
<div class="item"><div class="card-text">{{blocks[0].difficulty | number:'1.0-0'}}</div><div class="symbol">Current difficulty</div></div>
<div class="item"><div class="card-text">157.5 s</div><div class="symbol">Target block interval</div></div>
<div class="item"><div class="card-text">Every block</div><div class="symbol">Dark Gravity Wave</div></div></div>
<div class="difficulty-stats" *ngIf="blocks.length && mode==='halving'">
<div class="item"><div class="card-text"><app-btc [satoshis]="blocks[0].extras.reward"></app-btc></div><div class="symbol">Latest coinbase outputs</div></div>
<div class="item"><div class="card-text">~7.1%</div><div class="symbol">Annual subsidy reduction</div></div>
<div class="item"><div class="card-text">X11</div><div class="symbol">Proof of work</div></div></div></div></div></div></div>